# Directories
dist
build
target
node_modules

# Yarn v2 (Zero-Installs)
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Files
Cargo.lock
.log

# Config Files
.env

# User Settings
.vscode
.idea
